@*@using CI_Entities1.Models
@model List<CI_Entities1.Models.Mission>*@
@*
@{
    var mission = (List<Mission>)ViewData["mission"];
}*@

<style>
    .filter-list {
        / padding:6px 10px;
        / background-color: white;
        border: 1px solid #808080;
        border-radius: 20px;
        color: #000;
        cursor: pointer;
    }

    .filter-close-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 18px;
        margin-left: 5px;
        -ms-perspective-origin-y888;
    }
</style>



<nav class="navbar navbar-expand-md  FilterBar p-0">
    <div class="container p-0">

        <form class="d-flex">
            <input class="form-control" type="search" placeholder="Search mission..." name="SearchingMission" aria-label="Search" style="border:none" id="Search">
        </form>

        <div class="justify-content-end">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <img src="~/images/filter.png" />
            </button>
        </div>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Filters</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body p-0">

                <ul class="navbar-nav justify-content-end flex-grow-1">

                    <li class="nav-item dropdown LiBorder">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle dropdown_btn " type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Country &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/drop-down.png" />
                            </button>
                            <ul class="dropdown-menu" id="countryList" aria-labelledby="dropdownMenuButton" style="height:140px; width:max-content; overflow-y: auto;">
                                @if (ViewBag.listofcountry != null)
                                {
                                    @foreach (var category in ViewBag.listofcountry)
                                    {
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input checkbox" onchange="LoadMission()" name="country" type="checkbox" value="@category.Name" id=@category.CountryId />
                                                    <label class="form-check-label">@category.Name</label>
                                                </div>
                                            </a>
                                        </li>

                                    }
                                }
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown LiBorder">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle dropdown_btn " type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                City &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/drop-down.png" />
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="cityList" style="height:140px; width:max-content; overflow-y: auto;">
                                @if (ViewBag.listofcity != null)
                                {
                                    @foreach (var category in ViewBag.listofcity)
                                    {
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input checkbox" onchange="LoadMission()" name="city" type="checkbox" value="@category.Name" id=@category.CityId />
                                                    <label class="form-check-label">@category.Name</label>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown LiBorder">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle dropdown_btn scrol" type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Theme &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/drop-down.png" />
                            </button>
                            <ul class="dropdown-menu" id="themeList" aria-labelledby="dropdownMenuButton" style="height:140px; width:max-content; overflow-y: auto;">
                                @if (ViewBag.listoftheme != null)
                                {
                                    @foreach (var category in ViewBag.listoftheme)
                                    {
                                        <li>
                                            <a class="dropdown-item" href="#">
                                                <div class="form-check">
                                                    <input class="form-check-input checkbox" type="checkbox" value="@category.Title"
                                                   onchange="LoadMission()" name="theme" id=@category.MissionThemeId />
                                                    <label class="form-check-label" for="Checkme1">@category.Title</label>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item dropdown LiBorder me-1">
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle dropdown_btn " type="button" id="dropdownMenuButton"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Skills &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/drop-down.png" />
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="form-check">
                                            <input class="form-check-input checkbox" type="checkbox" value="Goal" id="Checkme1" />
                                            <label class="form-check-label" for="Checkme1">Goal</label>
                                        </div>
                                    </a>
                                </li>

                                <li>
                                    <a class="dropdown-item" href="#">
                                        <div class="form-check">
                                            <input class="form-check-input checkbox" type="checkbox" value="Time" id="Checkme1" />
                                            <label class="form-check-label" for="Checkme1">Time</label>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</nav>
@*<div class="row">
    @if (@ViewBag.country != null)
    {
        @foreach (var country in @ViewBag.country)
        {
            <div class="filter ms-2 ps-2 col-1 border" id="co">
                <span class="ps-1">@country.Name</span><button type="button" class="btn-close me-2" aria-label="Close" onclick="countryBtn(this.id)" id=@country.CountryId></button>
            </div>
        }
    }

    @if (@ViewBag.city != null)
    {
        @foreach (var city in @ViewBag.city)
        {
            <div class="filter ms-2 ps-2 col-1 border" id="ci">
                @city.Name<button type="button" class="btn-close me-2" aria-label="Close" onclick="cityBtn(this.id)" id=@city.CityId></button>
            </div>
        }
    }

    @if (@ViewBag.theme != null)
    {
        @foreach (var theme in @ViewBag.theme)
        {
            <div class="filter ms-2 ps-2 col-1 border" id="ci">
                @theme.Title<button type="button" class="btn-close me-2" aria-label="Close" onclick="themeBtn(this.id)" id=@theme.MissionThemeId></button>
            </div>
        }
    }
</div>*@

<script>

        function LoadMission(result, sortValue) 
        {


        var country = [];

        $("#countryList").find("input:checked").each(function (i, obj) {

            country.push($(obj).val());

        })
        var city = [];
        $("#cityList").find("input:checked").each(function (i, obj) {

            city.push($(obj).val());

        })
        var theme = [];
        $("#themeList").find("input:checked").each(function (i, obj) {

            theme.push($(obj).val());

        })

        if (sortValue != null) {
            sortValue = sortValue;
        }
        console.log(country)
        $.ajax({
            url: '/Home/GetFilteredMission',
            method: "POST",
            dataType: "html",
            data: {  "country": country, "city":city, "theme":theme},
            success: function (data) {
                $("#missionList").html("");
                $("#missionList").html(data);
            },
            error: function (error) {
                console.log(error);
            }

        })


    }
</script>
@*<script>
    function updateUrlForCountry() {
    const country = Array.from(document.querySelectorAll('input[name="country"]:checked')).map(el => el.id);
    let url = window.location.href;
    let separator = url.indexOf('?') !== -1 ? '&' : '?';
    url += separator + 'ACountries=' + country;
    window.location.href = url;
    }

    function updateUrlForCity() {
    const city = Array.from(document.querySelectorAll('input[name="city"]:checked')).map(el => el.id);
    let url = window.location.href;
    let separator = url.indexOf('?') !== -1 ? '&' : '?';
    url += separator + 'ACities=' + city;
    window.location.href = url;
    }

    function updateUrlForTheme() {
    const theme = Array.from(document.querySelectorAll('input[name="theme"]:checked')).map(el => el.id);
    let url = window.location.href;
    let separator = url.indexOf('?') !== -1 ? '&' : '?';
    url += separator + 'Atheme=' + theme;
    window.location.href = url;
    }

    //Country Function
    function countryBtn(id)
    {
    let url = window.location.href;
    const urlParts = url.split('?');

    if (urlParts.length >= 2) {
    const baseUrl = urlParts.shift();
    const queryString = urlParts.join('?');
    const params = new URLSearchParams(queryString);

    const countries = params.getAll('ACountries').filter(country => country !== id);

    if (countries.length > 0) {
    params.delete('ACountries');
    countries.forEach(country => params.append('ACountries', country));
    } else {
    params.delete('ACountries');
    }

    const updatedParams = params.toString();
    if (updatedParams) {
    url = `${baseUrl}?${updatedParams}`;
    } else {
    url = baseUrl;
    }

    window.location.href = url;
    }
    }

    //city function

    function cityBtn(id){

    let url = window.location.href;
    const urlParts = url.split('?');

    if (urlParts.length >= 2) {
    const baseUrl = urlParts.shift();
    const queryString = urlParts.join('?');
    const params = new URLSearchParams(queryString);

    const countries = params.getAll('ACities').filter(country => country !== id);

    if (countries.length > 0) {
    params.delete('ACities');
    countries.forEach(country => params.append('ACities', country));
    } else {
    params.delete('ACities');
    }

    const updatedParams = params.toString();
    if (updatedParams) {
    url = `${baseUrl}?${updatedParams}`;
    } else {
    url = baseUrl;
    }

    window.location.href = url;
    }
    }

    //Theme function

    function themeBtn(id){

    let url = window.location.href;
    const urlParts = url.split('?');

    if (urlParts.length >= 2)
    {
    const baseUrl = urlParts.shift();
    const queryString = urlParts.join('?');
    const params = new URLSearchParams(queryString);

    const themes = params.getAll('Atheme').filter(th => th !== id);

    if (themes.length > 0) {
    params.delete('Atheme');
    themes.forEach(theme => params.append('Atheme', theme));
    } else {
    params.delete('Atheme');
    }

    const updatedParams = params.toString();
    if (updatedParams) {
    url = `${baseUrl}?${updatedParams}`;
    } else {
    url = baseUrl;
    }

    window.location.href = url;
    }
    }
    </script>
*@

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    